/*Celulares*/
@media (max-width: 37.5em) {
  #primary .text-header h2 {
    margin-top: 25% !important;
    font-size: 4.9vw !important;
    letter-spacing: 0.35vw !important;
  }

  #primary .text-header h1 {
    font-size: 8vw !important;
    letter-spacing: 0px;
  }

  #primary .text-header-paragraph {
    font-size: 18px !important;
  }

  #primary .buttons{
    font-size: 4vw !important;
  }

  #primary .logo-primary {
    text-align: center;
  }

  #second .text-two h2 {
    margin-left: 0% !important;
    text-align: center;
    font-size: 9vw !important;
  }

  #second .text-two h1 {
    margin-left: 0% !important;
    text-align: center;
    font-size: 7vw !important;
  }

  #second .one {
    margin-top: 30% !important;
  }

  #second .line-desc-two {
    width: 80% !important;
    margin-left: 15% !important;
    font-size: 4vw !important;
  }

  #second .line-desc-two .align {
    margin-top: 1.4vw !important;
  }

  #second .line-button{
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }

  #second .button-two {
    margin-top: 5%;
  }
  
  #second button {
    font-size: 3.5vw !important;
  }

  #third .formulario {
    padding: 1vw !important;
  }

  #third .formulario h1 {
    font-size: 8vw !important;
    text-align: center;
  }

  #third .formulario p {
    font-size: 4.5vw !important;
    text-align: left;
  }

  #third .formulario .text-form{
    padding-right: 0% !important;
    display: flex;
    align-items: center;
    margin-right: 100px !important;
  }

  #third .formulario .text-form .line, .coluna{
    padding-right: 0% !important;
  }

  #third .formulario .botao-form {
   align-items: center;
  }

  #second img {
    width: 33px !important;
    height: 33px !important;
  }
}

@media (max-width: 25em) {
  #primary .text-header h2 {
    margin-top: 35%;
    font-size: 5.4vw;
    letter-spacing: 0.36vw !important;
  }

  #primary .text-header h1 {
    font-size: 8vw !important;
    letter-spacing: 0px;
  }

  #primary .text-header-paragraph {
    font-size: 16px !important;
  }

  #primary .buttons{
    font-size: 4vw !important;
  }

  #second img {
    width: 30px !important;
    height: 30px !important;
  }

  #second .line-desc-two {
    font-size: 4vw !important;
  }

  #third .formulario h1 {
    font-size: 8vw !important;
    text-align: center;
  }

  #third .formulario p {
    font-size: 4.8vw !important;
    margin-top: 2% !important;
    text-align: left;
  }

}

@media (max-width: 20em) {
  #primary .text-header h2 {
    margin-top: 27% !important;
    font-size: 5.4vw;
    letter-spacing: 0.36vw !important;
  }

  #primary .text-header h1 {
    font-size: 8vw !important;
    letter-spacing: 0px;
  }

  #primary .text-header-paragraph {
    font-size: 14px !important;
  }

  #second .line-desc-two {
    font-size: 3.2vw !important;
  }

  #second img {
    width: 25px !important;
    height: 25px !important;
  }

  #third .formulario h1 {
    font-size: 6.8vw !important;
    text-align: center;
  }

  #third .formulario p {
    font-size: 5vw !important;
    margin-top: 2% !important;
    text-align: left;
  }

}

/* Tablet */
@media (max-width: 57em){
  #primary .text-header h2 {
    margin-top: 10%;
    font-size: 4.9vw !important;
    letter-spacing: 0.35vw !important;
  }

  #primary .text-header-paragraph {
    font-size: 23px;
  }

  #primary .text-header h1 {
    font-size: 8vw !important;
    letter-spacing: 0px;
  }

  #primary .botao{
    margin-top: 5% !important;
  }

  #primary a {
    align-items: center;
    text-align: center;
  }

  #primary .buttons {
    width: 80vw !important;
    font-size: 3vw;
  }

  .teste {
    max-width: 90vw !important;
  }

  #second .text-two h2 {
    margin-left: 0% !important;
    text-align: center;
    font-size: 7vw;
  }

  #second .text-two h1 {
    margin-left: 0% !important;
    text-align: center;
    font-size: 5.5vw;
  }

  #second .one {
    margin-top: 23% !important;
  }
  #second .line-desc-two {
    width: 70%;
    margin-left: 23%;
    font-size: 2.9vw;
  }


  #second .line-desc-two .align {
    margin-top: 1.4vw !important;
  }

  #second .line-button{
    margin-top: 10%;
    display: flex;
    justify-content: center;
  }

  #second img {
    width: 45px;
    height: 45px;
  }

  #second button {
    font-size: 2.5vw;
  }

  #third .formulario h1 {
    font-size: 5.5vw;
    text-align: center;
  }

  #third .formulario p {
    font-size: 2.7vw;
    text-align: center;
  }

  #third .formulario .text-form{
    padding-right: 0% !important;
    display: flex;
    align-items: center;
    margin-right: 100px !important;
  }

  #third .formulario .text-form .line, .coluna{
    padding-right: 0% !important;
  }
}